
//linear gradient
$background: #fed269;
$white: #fff;
$yellow:#fed269;
$neon-blue: #00a2ff;
$light-red:#f86359;
$neon-pink:#fd5be2;
$dark-blue:rgba(29,39,163,255);
$road:#484848;
$restart:#11232e