*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.pinimg.com/564x/be/dd/d5/beddd5671b2c8df5c0f2d4594f4a0d51.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0% 90% ;
}

.scene{
    position:relative;
    width: 100vw;
    height: 100vh;
}
.container, .header, a, .controls{
    position:absolute
}

#openNav {
    position:absolute;
    display:inline-block;
    right:0;
    font-size: 30px;
    cursor:pointer;
    color:#fed269;
    margin:20px;
    transition: 1s;
}

#sideNav{
    height:100%;
    width: 0;
    position:fixed;
    z-index:1;
    top:0;
    right:0;
    background: rgba(124,181,246,0.6);
    overflow-x:hidden;
    padding-top:60px;
    transition: 0.5s;
}

#sideNav a, img{
    display:block;
    transition: 0.3s;
}

#sideNav .closebtn:hover{
    color:#f1f1f1;
}

#sideNav .button:hover{
    color:#f1f1f1;
}

.scene #sideNav .closebtn{
    position:absolute;
    top:0;
    font-size: 36px;
    padding:10px;
    text-decoration: none;
    color: #fed269;
}

.button{
    display: inline-block;
    background-color: rgba(254,210,105,0.8);
    color:#484848;
    right:0;
    bottom:0;
    border:none;
    text-align:center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    cursor:pointer;
    padding:15px 20px;
    margin:30px;
    box-shadow: 5px 10px red;
    border-radius:20px;
}

#sideNav h2, img,h3{
    text-align: center;
    color: #484848;
    font-size:20px;
    line-height: 40px;
}
#sideNav h2{
    font-size: 40px;
}

.container {
    width:100vw;
    height:100vh;
}

.controls img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    height: auto;
    padding:10px;
}


.header{
    background:rgba(72,72,72,0.7);
    display: block;
    position:relative;
    width:100vw;
    color: #fed269;
    font-size: 50px;
    font-weight:bold;
}
.header .title{
    padding:20px
}

